/* Top navigation bar */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    list-style-type: none;
    max-width: 1264px;
    width: 100%;
    margin: 5px auto;
}

.top-nav svg {
    font-size: 1.8rem;
    margin: 0 5px;
}

.top-nav svg:hover {
    color: var(--primaryColor);
    cursor: pointer;
}

/* menu icon */
.menu-icon {
    margin: 3px;
    border-radius: 5px;
}
.menu-icon:hover {
    background-color: antiquewhite;
}

/* Search bar container */
.search-bar {
    display: flex;
    align-items: center;
    width: 250px; /* Adjust width as per your design */
}
.search-bar input {
    margin: 0;
}


.searchContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}

/* Input for search */
.searchInput {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.searchButton {
    background-color: #f0ebe5;
    padding: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton svg {
    font-size: 1.5rem;
    color: #555;
}

/* Centering the logo */
.logo {
    max-width: 150px; /* Adjust logo size */
    margin: 0 auto;
}

/* Bottom navigation bar */
.bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* Increased gap for more spacing between items */
    padding: 10px 0;
    width: 100%;
    font-size: 0.9rem;
    list-style-type: none;
}

.nav-link a {
    text-decoration: none;
    color: #4a4a4a; /* Dark gray color */
    padding: 5px 10px;
    font-weight: bold;
    white-space: nowrap;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.nav-link a:hover,
.nav-link a.active {
    color: #b51828; /* Hover effect color */
}

:root {
    --primaryColor: rgb(166, 43, 43);
    --secondaryColor: rgb(244, 239, 235);
    --darkColor: black;
    --lightColor: white;
    --dangerColor: red;
}

.user-form {
    width: 25rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: antiquewhite;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.danger {
    background-color: var(--dangerColor);
    color: var(--lightColor);
    border-radius: 5px;
    padding: 3px;
}

.products-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.product-card {
    background-color: var(--secondaryColor);
    width: 20rem;
    height: 25rem;
}

.product-image {
    width: 90%;
    height: 90%;
}

.logo {
    width: 10rem;
    height: auto;
}

.row {
    display: flex;
    align-items: center;
}


.search-button {
    background-color: antiquewhite;
    padding: 4px;
    border-radius: 5px;
    margin: 5px;
}
/* TOP-NAV ENDS */

/* BOTTOM-NAV STARTS */
.bottom-nav {
    width: 60vw;
    margin: 0 auto;
}
/* BOTTOM-NAV ENDS */

/* SIDEBAR STARTS */
#mySideBar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 0;
    position: fixed;
    background-color: var(--lightColor);
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: larger;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}

.sidebar-header {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    padding: 2rem;
}

.sidebar-body,
.sidebar-footer {
    padding: 2rem;
}

.sidebar-header p,
.sidebar-body p {
    padding: 10px 0;
}

.sidebar-header p:hover,
.sidebar-body p:hover {
    opacity: 0.7;
}

.sidebar-header a {
    color: var(--lightColor);
}

.sidebar-body p {
    border-bottom: 1px solid black;
}

.sidebar-body a:hover {
    color: var(--primaryColor);
}
/* SIDEBAR ENDS */

/* ERROR-MESSAGE STARTS */
.error-message {
    color: var(--dangerColor);
    text-align: center;
}
/* ERROR-MESSAGE ENDS */

/* tabs-container START */
.tabs-container {
    display: flex;
    max-width: 20rem;
    margin: 0 auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
/* tabs-container START */

.flex-container-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CART STARTS */
#cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#order-summary {
    background-color: var(--secondaryColor);
    padding: 1.5rem;
    border-radius: 5px;
}

#order-summary p {
    line-height: 2rem;
}

#order-summary button {
    width: 100%;
    background-color: var(--primaryColor);
    color: var(--lightColor);
    border: none;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 0.5rem;
    cursor: pointer;
}
/* CART ENDS */

/* Container for the shopping bag icon and badge */
.nav-icons {
    position: relative; /* Allows positioning of the badge relative to the icon */
}

/* Badge for showing total quantity */
.nav-icons .badge {
    position: absolute;
    top: -8px; /* Adjusts the vertical position of the badge */
    right: -8px; /* Adjusts the horizontal position of the badge */
    background-color: #a6212b; /* Red background for the badge */
    color: white; /* White text for the number */
    border-radius: 50%; /* Makes the badge a circle */
    padding: 2px; /* Adds some padding for the badge */
    font-size: 12px; /* Smaller font size for the number */
    min-width: 1rem; /* Minimum width to ensure the badge is round */
    height: 1rem; /* Fixed height for the badge */
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the number inside the badge */
    font-weight: bold; /* Bold text for better visibility */
}

.nav-icons .badge:hover {
    background-color: #cc0020;
}

/* Smaller checkmark icon positioned on top of the person icon */
.checkmarkIcon {
    position: absolute; /* Absolutely position the checkmark */
    top: -5px; /* Adjust to position it correctly above the icon */
    right: -5px; /* Adjust to position it correctly */
    width: 1rem; /* Size of the checkmark */
    height: 1rem; /* Maintain aspect ratio */
    color: green; /* Set the color of the checkmark */
}

/* Add similar styles for the red dot when not logged in if necessary */
.redDot {
    position: absolute; /* Absolutely position the checkmark */
    top: -5px; /* Adjust to position it correctly above the icon */
    right: -5px; /* Adjust to position it correctly */
    width: 1rem; /* Size of the checkmark */
    height: 1rem; /* Maintain aspect ratio */
    color: red; /* Set the color of the checkmark */
}

/* MOBILE */
@media screen and (max-width: 1023px) {
    main {
        width: 100vw;
    }
    .search-bar,
    .bottom-nav {
        display: none;
    }
    #cart {
        flex-direction: column;
    }
}
